Repository firesim/firesim, pull requests merged in 2022-06, with the labels that each got.

#1063 Prevent conda from automatically updating itself
  scripts/machine-launch-script.sh
Labels: changelog:changed

#1065 Update Termination Bridge to remove use of data_t
  sim/midas/src/main/cc/bridges/termination.cc
Labels: changelog:fixed

#1071 Pad to longest length hostname/IP in run state output
  deploy/runtools/firesim_topology_with_passes.py
Labels: DONOTMERGE, changelog:fixed

#1028 ("Where to Run") Initial support running on different run farm hosts
  .github/scripts/ci_variables.py
  .github/scripts/common.py
  .github/scripts/local_flags.py
  .github/scripts/run-linux-poweroff-externally-provisioned.py
  .github/scripts/run-linux-poweroff.py
  .github/workflows/firesim-run-tests.yml
  deploy/awstools/awstools.py
  deploy/buildtools/buildconfigfile.py
  deploy/firesim
  deploy/run-farm-recipes/aws_ec2.yaml
  deploy/run-farm-recipes/externally_provisioned.yaml
  deploy/runtools/firesim_topology_elements.py
  deploy/runtools/firesim_topology_with_passes.py
  deploy/runtools/run_farm.py
  deploy/runtools/run_farm_deploy_managers.py
  deploy/runtools/runtime_config.py
  deploy/runtools/simulation_data_classes.py
  deploy/runtools/switch_model_config.py
  deploy/runtools/user_topology.py
  deploy/runtools/utils.py
  deploy/sample-backup-configs/sample_config_runtime.yaml
  deploy/tests/awstools/test_awstools.py
  deploy/tests/test_yaml_api.py
  deploy/util/filelineswap.py
  deploy/util/inheritors.py
  deploy/workloads/bw-test-config.yaml
  deploy/workloads/ccbench-cache-sweep.yaml
  deploy/workloads/gapbs.yaml
  deploy/workloads/linux-poweroff-all-no-nic.yaml
  deploy/workloads/linux-poweroff-nic.yaml
  deploy/workloads/memcached-thread-imbalance-config.yaml
  deploy/workloads/ping-latency-config.yaml
  deploy/workloads/simperf-test-latency-config.yaml
  deploy/workloads/simperf-test-scale-config.yaml
  deploy/workloads/simperf-test-scale-supernode-config.yaml
  deploy/workloads/spec17-intrate.yaml
  deploy/workloads/spec17-intspeed.yaml
Labels: enhancement, changelog:added, changelog:changed, ci:fpga-deploy

#1070 Switch buildfarm API to be similar to runfarm API
  deploy/build-farm-recipes/aws_ec2.yaml
  deploy/build-farm-recipes/externally_provisioned.yaml
  deploy/buildtools/buildconfigfile.py
  deploy/firesim
  deploy/run-farm-recipes/aws_ec2.yaml
  deploy/runtools/runtime_config.py
  deploy/sample-backup-configs/sample_config_build.yaml
  deploy/sample-backup-configs/sample_config_build_farm.yaml
  deploy/tests/test_yaml_api.py
  deploy/util/deepmerge.py
Labels: changelog:changed, ci:fpga-deploy

#1076 Manager support for deploying verilator/vcs metasimulations, plusarg passthrough, and some useful DRYing-out
  .github/scripts/run-linux-poweroff-externally-provisioned.py
  deploy/firesim
  deploy/run-farm-recipes/aws_ec2.yaml
  deploy/run-farm-recipes/externally_provisioned.yaml
  deploy/runtools/firesim_topology_elements.py
  deploy/runtools/firesim_topology_with_passes.py
  deploy/runtools/run_farm.py
  deploy/runtools/run_farm_deploy_managers.py
  deploy/runtools/runtime_config.py
  deploy/runtools/user_topology.py
  deploy/sample-backup-configs/sample_config_build_recipes.yaml
  deploy/sample-backup-configs/sample_config_runtime.yaml
  deploy/tests/test_yaml_api.py
  deploy/workloads/bw-test-config.yaml
  deploy/workloads/ccbench-cache-sweep.yaml
  deploy/workloads/gapbs.yaml
  deploy/workloads/linux-poweroff-all-no-nic.yaml
  deploy/workloads/linux-poweroff-nic.yaml
  deploy/workloads/memcached-thread-imbalance-config.yaml
  deploy/workloads/ping-latency-config.yaml
  deploy/workloads/simperf-test-latency-config.yaml
  deploy/workloads/simperf-test-scale-config.yaml
  deploy/workloads/simperf-test-scale-supernode-config.yaml
  deploy/workloads/spec17-intrate.yaml
  deploy/workloads/spec17-intspeed.yaml
  sim/target-agnostic.mk
Labels: changelog:added, ci:fpga-deploy

#1079 hide blowfish deprecation warning until 2022-08-31
  deploy/firesim
Labels: changelog:fixed, ci:fpga-deploy

#1078 Move sim. data class arg parsing into classes
  deploy/runtools/runtime_config.py
  deploy/runtools/simulation_data_classes.py
Labels: changelog:fixed, ci:fpga-deploy

#1081 Fix machine-launch-script.sh git version for 1.13.x release series.
  CHANGELOG.md
  scripts/machine-launch-script.sh
Labels: changelog:fixed, ci:fpga-deploy

#1082 Cleanup config initialization
  deploy/build-farm-recipes/aws_ec2.yaml
  deploy/firesim
  deploy/run-farm-recipes/aws_ec2.yaml
Labels: changelog:changed

#1083 Use Git 2.36 in CI
  .github/actions/machinelaunchscript/action.yml
  .github/workflows/firesim-publish-scala-doc.yml
Labels: changelog:fixed

#1046 Allow argument passing to bit builder
  deploy/awstools/awstools.py
  deploy/bit-builder-recipes/f1.yaml
  deploy/buildtools/bitbuilder.py
  deploy/buildtools/buildconfig.py
  deploy/buildtools/buildconfigfile.py
  deploy/firesim
  deploy/runtools/runtime_config.py
  deploy/sample-backup-configs/sample_config_build_recipes.yaml
  deploy/tests/test_yaml_api.py
Labels: changelog:fixed, ci:fpga-deploy

#1088 Update CHANGELOG.md for 1.13.6 with fixed CI
  CHANGELOG.md
Labels: changelog:fixed

#1089 Merge 1.13.x to main to get clean bump to 1.14.x series
  .github/actions/machinelaunchscript/action.yml
  .github/workflows/firesim-publish-scala-doc.yml
  CHANGELOG.md
Labels: changelog:omit, ci:fpga-deploy

#1093 Remove extra colons in `config_build.yaml`
  deploy/sample-backup-configs/sample_config_build.yaml
Labels: changelog:omit

#1087 Working Vitis Branch Combo
  .github/scripts/check-docs-generated-components.py
  .github/scripts/run-linux-poweroff-vitis.py
  .github/scripts/vitis-test/config_build_recipes.yaml
  .github/scripts/vitis-test/config_hwdb.yaml
  .github/scripts/vitis-test/config_runtime.yaml
  .github/scripts/vitis-test/run-workload.sh
  .github/workflows/firesim-run-tests.yml
  deploy/bit-builder-recipes/vitis.yaml
  deploy/build-farm-recipes/externally_provisioned.yaml
  deploy/buildtools/bitbuilder.py
  deploy/firesim
  deploy/run-farm-recipes/externally_provisioned.yaml
  deploy/runtools/firesim_topology_elements.py
  deploy/runtools/run_farm.py
  deploy/runtools/run_farm_deploy_managers.py
  deploy/runtools/runtime_config.py
  deploy/runtools/switch_model_config.py
  deploy/runtools/utils.py
  deploy/sample-backup-configs/sample_config_hwdb.yaml
  docs/Advanced-Usage/Manager/HELP_OUTPUT
  platforms/vitis/.gitignore
  platforms/vitis/README.md
  platforms/vitis/build-bitstream.sh
  platforms/vitis/cl_firesim/.gitignore
  platforms/vitis/cl_firesim/Makefile
  platforms/vitis/cl_firesim/build-bitstream.cfg
  platforms/vitis/cl_firesim/design/defines.vh
  platforms/vitis/cl_firesim/msg.mrf
  platforms/vitis/cl_firesim/scripts/gen_xo.tcl
  platforms/vitis/cl_firesim/scripts/package_kernel.tcl
  platforms/vitis/cl_firesim/scripts/xsim-setup-waves.tcl
  platforms/vitis/cl_firesim/simulation.cfg
  platforms/vitis/scripts/flash-xdma-shells.sh
  scripts/machine-launch-script.sh
  sim/Makefile
  sim/firesim-lib/src/main/scala/configs/CompilerConfigs.scala
  sim/firesim-lib/src/main/scala/passes/EC2F1Artefacts.scala
  sim/firesim-lib/src/main/scala/util/Configs.scala
  sim/midas/src/main/cc/Makefile
  sim/midas/src/main/cc/rtlsim/Makefrag-vcs
  sim/midas/src/main/cc/simif_vitis.cc
  sim/midas/src/main/cc/simif_vitis.h
  sim/midas/src/main/scala/junctions/Nasti2AXI4.scala
  sim/midas/src/main/scala/junctions/nasti.scala
  sim/midas/src/main/scala/midas/Config.scala
  sim/midas/src/main/scala/midas/passes/SimulationMapping.scala
  sim/midas/src/main/scala/midas/platform/VitisShim.scala
  sim/midas/src/main/scala/midas/platform/xilinx/AXI4Crossing.scala
  sim/midas/src/main/scala/midas/platform/xilinx/Clocking.scala
  sim/src/main/cc/firesim/firesim_vitis.cc
  sim/src/main/makefrag/firesim/Makefrag
  sim/src/main/scala/midasexamples/Config.scala
  sim/target-agnostic.mk
Labels: changelog:added, ci:fpga-deploy

#1097 Update CHANGELOG for 1.14.0
  CHANGELOG.md
Labels: changelog:omit

#1026 Updated Documentation (API Changes, On-Prem. FPGAs, Distributed Metasim)
  .github/workflows/firesim-run-tests.yml
  deploy/sample-backup-configs/sample_config_hwdb.yaml
  deploy/sample-backup-configs/sample_config_runtime.yaml
  docs/Advanced-Usage/Debugging-and-Profiling-on-FPGA/AutoCounter.rst
  docs/Advanced-Usage/Debugging-and-Profiling-on-FPGA/Printf-Synthesis.rst
  docs/Advanced-Usage/Debugging-and-Profiling-on-FPGA/TracerV-with-FlameGraph.rst
  docs/Advanced-Usage/Debugging-and-Profiling-on-FPGA/TracerV.rst
  docs/Advanced-Usage/Debugging-in-Software/RTL-Simulation.rst
  docs/Advanced-Usage/FAQs.rst
  docs/Advanced-Usage/Generating-Different-Targets.rst
  docs/Advanced-Usage/Manager/AGFI-Tagging.rst
  docs/Advanced-Usage/Manager/Manager-Command-Line-Args.rst
  docs/Advanced-Usage/Manager/Manager-Configuration-Files.rst
  docs/Advanced-Usage/Manager/Manager-Environment-Variables.rst
  docs/Advanced-Usage/Manager/Manager-Overview.rst
  docs/Advanced-Usage/Manager/Manager-Tasks.rst
  docs/Advanced-Usage/Manager/Manager-Topology-Definitions.rst
  docs/Advanced-Usage/Supernode.rst
  docs/Advanced-Usage/Vitis.rst
  docs/Advanced-Usage/Workloads/Booting-Fedora.rst
  docs/Advanced-Usage/Workloads/Defining-Custom-Workloads.rst
  docs/Advanced-Usage/Workloads/Deprecated-Defining-Custom-Workloads.rst
  docs/Building-a-FireSim-AFI.rst
  docs/Developer-Docs/GoldenGate-and-Driver-Development.rst
  docs/Developer-Docs/Host-Platform-Debugging.rst
  docs/External-Tutorial-Setup.rst
  docs/FireSim-Basics.rst
  docs/Golden-Gate/Resource-Optimizations.rst
  docs/Initial-Setup/Setting-up-your-Manager-Instance.rst
  docs/Initial-Setup/index.rst
  docs/Running-Simulations-Tutorial/Running-a-Cluster-Simulation.rst
  docs/Running-Simulations-Tutorial/Running-a-Single-Node-Simulation.rst
  docs/conf.py
  docs/img/build_complete_email.png
  docs/index.rst
  docs/requirements.txt
Labels: changelog:changed

#1064 Ensure FPGA Backend passes run before final optimizations
  sim/midas/src/main/scala/midas/stage/GoldenGateCompilerPhase.scala
Labels: changelog:fixed

#1108 ci: Move check docs generated components out of setup-manager
  .github/workflows/firesim-run-tests.yml
  docs/Running-Simulations-Tutorial/DOCS_EXAMPLE_config_runtime.yaml
Labels: changelog:omit

#1100 VitisShell: Use XPM xpm_cdc_sync_rst for reset synchronizer
  sim/midas/src/main/scala/midas/platform/VitisShim.scala
  sim/midas/src/main/scala/midas/platform/xilinx/ResetSynchronizer.scala
Labels: changelog:fixed
