Repository firesim/firesim, pull requests merged in 2023-06, with the labels that each got.

#1534 Misc. Fixes (Downgrade cryptography package, pin packages, fix non-firesim make project compilation)
  .github/actions/repo-setup-aws/action.yml
  .github/workflows/firesim-publish-scala-doc.yml
  conda-reqs/ci-shared.yaml
  conda-reqs/conda-reqs.conda-lock.yml
  conda-reqs/firesim.yaml
  scripts/machine-launch-script.sh
  sim/make/chipyard.mk
  sim/make/scala-build.mk
Labels: ci:fpga-deploy

#1527 Xcelium + Verilog-as-Top
  deploy/runtools/runtime_config.py
  sim/Makefile
  sim/firesim-lib/src/main/cc/bridges/dromajo.cc
  sim/firesim-lib/src/main/cc/bridges/tracerv.cc
  sim/make/cpp-lint.mk
  sim/make/verilator.mk
  sim/make/xcelium.mk
  sim/midas/src/main/cc/Makefile
  sim/midas/src/main/cc/bridges/synthesized_prints.cc
  sim/midas/src/main/cc/core/bridge_driver.h
  sim/midas/src/main/cc/emul/dpi.cc
  sim/midas/src/main/cc/emul/simif_emul.cc
  sim/midas/src/main/cc/emul/simif_emul.h
  sim/midas/src/main/cc/entry.cc
  sim/midas/src/main/cc/entry.h
  sim/midas/src/main/cc/main.cc
  sim/midas/src/main/cc/rtlsim/Makefrag-vcs
  sim/midas/src/main/cc/rtlsim/Makefrag-verilator
  sim/midas/src/main/cc/rtlsim/Makefrag-xcelium
  sim/midas/src/main/cc/rtlsim/generic_vharness.cc
  sim/midas/src/main/cc/simif_emul_all.cc
  sim/midas/src/main/cc/simif_emul_vcs.cc
  sim/midas/src/main/cc/simif_emul_verilator.cc
  sim/midas/src/main/cc/unittest/Makefrag
  sim/midas/src/main/verilog/replay.v
  sim/midas/src/main/verilog/top.sv
  sim/src/main/makefrag/bridges/metasim.mk
  sim/src/main/makefrag/fasedtests/metasim.mk
  sim/src/main/makefrag/firesim/metasim.mk
  sim/src/main/makefrag/midasexamples/metasim.mk
  sim/src/test/scala/firesim/FireSimTestSuite.scala
Labels: ci:fpga-deploy

#1522 Add U250/VCU118 bitstream builds to CI
  .github/scripts/run-local-buildbitstreams.py
  .github/scripts/run-xclbin-buildbitstream.py
  .github/workflows/firesim-run-tests.yml
  deploy/buildtools/bitbuilder.py
  deploy/runtools/run_farm_deploy_managers.py
  deploy/runtools/runtime_config.py
  deploy/sample-backup-configs/sample_config_hwdb.yaml
  platforms/xilinx_alveo_u250/cl_firesim/design/bitstream_config.xdc
  platforms/xilinx_alveo_u250/cl_firesim/scripts/implementation_2021.1.tcl
  platforms/xilinx_alveo_u250/cl_firesim/scripts/implementation_2022.2.tcl
  platforms/xilinx_alveo_u250/cl_firesim/scripts/implementation_easy.tcl
  platforms/xilinx_alveo_u250/cl_firesim/scripts/implementation_idr_2022.2.tcl
  platforms/xilinx_alveo_u250/cl_firesim/scripts/implementation_ml_2021.1.tcl
  platforms/xilinx_alveo_u250/cl_firesim/scripts/main.tcl
  platforms/xilinx_alveo_u280/cl_firesim/design/bitstream_config.xdc
Labels: ci:fpga-deploy

#1543 Rename sourceme-f1-manager.sh to sourceme-manager.sh
  .github/scripts/build-default-workloads.py
  .github/scripts/build-vitis-driver.py
  .github/scripts/check-docs-generated-components.py
  .github/scripts/check-vitis-docs-generated-components.py
  .github/scripts/run-agfi-buildbitstream.py
  .github/scripts/run-aws-configure.py
  .github/scripts/run-linux-poweroff-externally-provisioned.py
  .github/scripts/run-linux-poweroff-vitis.py
  .github/scripts/run-linux-poweroff.py
  .github/scripts/run-local-buildbitstreams.py
  .github/scripts/run-managerinit.py
  .github/scripts/run-parallel-vcs-metasims.py
  .github/scripts/run-parallel-verilator-metasims.py
  .github/workflows/firesim-run-tests.yml
  build-setup-nolog.sh
  deploy/buildtools/bitbuilder.py
  deploy/firesim
  deploy/runtools/runtime_config.py
  deploy/sample-backup-configs/sample_config_hwdb.yaml
  docs/Advanced-Usage/Debugging-in-Software/RTL-Simulation.rst
  docs/Advanced-Usage/FAQs.rst
  docs/Advanced-Usage/Manager/Manager-Overview.rst
  docs/External-Tutorial-Setup.rst
  docs/Getting-Started-Guides/AWS-EC2-F1-Tutorial/Initial-Setup/Setting-up-your-Manager-Instance.rst
  docs/Getting-Started-Guides/AWS-EC2-F1-Tutorial/Running-Simulations-Tutorial/Running-a-Cluster-Simulation.rst
  docs/Getting-Started-Guides/AWS-EC2-F1-Tutorial/Running-Simulations-Tutorial/Running-a-Single-Node-Simulation.rst
  docs/Getting-Started-Guides/On-Premises-FPGA-Tutorial/FPGA-Setup/Xilinx-Alveo-Template-Part2.rst
  docs/Getting-Started-Guides/On-Premises-FPGA-Tutorial/Initial-Setup/Setting-Up-Template.rst
  docs/Getting-Started-Guides/On-Premises-FPGA-Tutorial/Running-Simulations/Running-Single-Node-Simulation-Template.rst
  regression/aws-ec2-tests/build-default-afis.sh
  regression/aws-ec2-tests/launch-setup-manager-instance.sh
  regression/aws-ec2-tests/run-isca-2018.sh
  scripts/first-clone-setup-fast.sh
  sim/Makefile
  sourceme-f1-full.sh
  sourceme-manager.sh
Labels: changelog:changed

#1559 automatically try newer hotfix versions of AMI in manager
  deploy/awstools/awstools.py
  docs/Getting-Started-Guides/AWS-EC2-F1-Tutorial/Initial-Setup/Setting-up-your-Manager-Instance.rst
Labels: changelog:added, ci:fpga-deploy

#1561 Local FPGA managerinit QoL Fixes
  deploy/firesim
  deploy/run-farm-recipes/externally_provisioned.yaml
  docs/Getting-Started-Guides/On-Premises-FPGA-Tutorial/Running-Simulations/DOCS_EXAMPLE_config_runtime.yaml
Labels: ci:fpga-deploy
