Repository firesim/firesim, pull requests merged in 2023-07, with the labels that each got.

#1581 Add support for Alveo U200
  deploy/bit-builder-recipes/xilinx_alveo_u200.yaml
  deploy/buildtools/bitbuilder.py
  deploy/firesim
  deploy/runtools/run_farm_deploy_managers.py
  deploy/sample-backup-configs/sample_config_build.yaml
  deploy/sample-backup-configs/sample_config_build_recipes.yaml
  deploy/sample-backup-configs/sample_config_hwdb.yaml
  docs/Advanced-Usage/Manager/HELP_OUTPUT
  platforms/xilinx_alveo_u200/.gitignore
  platforms/xilinx_alveo_u200/build-bitstream.sh
  platforms/xilinx_alveo_u200/cl_firesim/design/axi_tieoff_master.v
  platforms/xilinx_alveo_u200/cl_firesim/design/bitstream_config.xdc
  platforms/xilinx_alveo_u200/cl_firesim/design/firesim_wrapper.v
  platforms/xilinx_alveo_u200/cl_firesim/scripts/au200.tcl
  platforms/xilinx_alveo_u200/cl_firesim/scripts/create_bd_2021.1.tcl
  platforms/xilinx_alveo_u200/cl_firesim/scripts/create_bd_2022.2.tcl
  platforms/xilinx_alveo_u200/cl_firesim/scripts/implementation_2021.1.tcl
  platforms/xilinx_alveo_u200/cl_firesim/scripts/implementation_2022.2.tcl
  platforms/xilinx_alveo_u200/cl_firesim/scripts/main.tcl
  platforms/xilinx_alveo_u200/cl_firesim/scripts/platform_env.tcl
  platforms/xilinx_alveo_u200/cl_firesim/scripts/synthesis.tcl
  platforms/xilinx_alveo_u200/scripts
  platforms/xilinx_alveo_u250/build-bitstream.sh
  sim/make/driver.mk
  sim/make/fpga.mk
  sim/midas/src/main/cc/simif_xilinx_alveo_u200.cc
Labels: changelog:added, ci:fpga-deploy

#1586 Restore all CI local builds + Gemmini U250-bare.
  .github/scripts/run-agfi-buildbitstream.py
  .github/scripts/run-local-buildbitstreams.py
  deploy/sample-backup-configs/sample_config_build.yaml
  deploy/sample-backup-configs/sample_config_build_recipes.yaml
  deploy/sample-backup-configs/sample_config_hwdb.yaml
Labels: changelog:omit, ci:fpga-deploy

#1590 don't require building any target software for enumeratefpgas to work
  deploy/runtools/runtime_config.py
  deploy/workloads/dummy.json
  deploy/workloads/dummy/dummy
Labels: changelog:omit, ci:fpga-deploy

#1595 Add release note automation
  .github/workflows/config/release-notes.json
  .github/workflows/release-notes.yml
  .github/workflows/require-label.yml
Labels: changelog:added

#1602 Update CHANGELOG.md for 1.17.1 Release
  CHANGELOG.md
Labels: changelog:omit

#1606 Additional VCU118 inital setup fixes
  deploy/buildtools/bitbuilder.py
  deploy/sample-backup-configs/sample_config_hwdb.yaml
  docs/Getting-Started-Guides/On-Premises-FPGA-Getting-Started/Initial-Setup/RHS-Research-Nitefury-II.rst
  docs/Getting-Started-Guides/On-Premises-FPGA-Getting-Started/Initial-Setup/Xilinx-Alveo-U250.rst
  docs/Getting-Started-Guides/On-Premises-FPGA-Getting-Started/Initial-Setup/Xilinx-Alveo-U280.rst
  docs/Getting-Started-Guides/On-Premises-FPGA-Getting-Started/Initial-Setup/Xilinx-VCU118.rst
  docs/Getting-Started-Guides/On-Premises-FPGA-Getting-Started/Initial-Setup/Xilinx-XDMA-Template.rst
  platforms/xilinx_vcu118/build-bitstream.sh
Labels: changelog:fixed, ci:fpga-deploy

#1608 Update CHANGELOG.md for 1.17.1
  CHANGELOG.md
Labels: changelog:omit

#1617 Improved lspci usage for Xilinx VCU118
  deploy/runtools/run_farm_deploy_managers.py
Labels: changelog:changed

#1601 Bump conda-reqs | Use existing conda for conda-lock
  build-setup-nolog.sh
  conda-reqs/conda-reqs.conda-lock.yml
  conda-reqs/firesim.yaml
  scripts/generate-conda-lockfile.sh
Labels: changelog:fixed
