Repository firesim/firesim, pull requests merged in 2024-05, with the labels that each got.

#1727 Reduce AXI DRAM channels for Alveo U2*0 cards
  deploy/sample-backup-configs/sample_config_hwdb.yaml
  platforms/xilinx_alveo_u250/cl_firesim/design/overall_fpga_top.v
  platforms/xilinx_alveo_u250/cl_firesim/scripts/bd_lib/2022.1/create_bd_connections.tcl
  platforms/xilinx_alveo_u250/cl_firesim/scripts/bd_lib/2022.1/create_bd_instances.tcl
  platforms/xilinx_alveo_u250/cl_firesim/scripts/bd_lib/2022.1/create_bd_interfaces.tcl
  sim/midas/src/main/scala/midas/Config.scala
Labels: changelog:changed, ci:fpga-deploy

#1730 Add timestamp to cospike bridge
  sim/firesim-lib/src/main/cc/bridges/cospike.cc
  sim/firesim-lib/src/main/cc/bridges/cospike.h
  sim/firesim-lib/src/main/cc/bridges/cospike/mem_pool.cc
  sim/firesim-lib/src/main/cc/bridges/cospike/mem_pool.h
  sim/firesim-lib/src/main/cc/bridges/cospike/thread_pool.cc
  sim/firesim-lib/src/main/cc/bridges/cospike/thread_pool.h
  sim/firesim-lib/src/main/scala/bridges/CospikeBridge.scala
  sim/make/driver.mk
  sim/src/main/makefrag/firesim/driver.mk
Labels: enhancement, ci:debug

#1734 Use configurable FPGA DB file
  deploy/firesim
  deploy/run-farm-recipes/externally_provisioned.yaml
  deploy/runtools/run_farm.py
  deploy/runtools/run_farm_deploy_managers.py
  docs/Getting-Started-Guides/On-Premises-FPGA-Getting-Started/Running-Simulations/DOCS_EXAMPLE_config_runtime.yaml
  platforms/xilinx_alveo_u250/scripts/firesim-fpga-util.py
  platforms/xilinx_alveo_u250/scripts/firesim-generate-fpga-db.py
Labels: changelog:added, ci:fpga-deploy
